body{
  font-family: sans-serif;
  margin: 0;
  letter-spacing: 1;
}
a{
  text-decoration: none;
  font-size: 16px;
  color: white;
}
button{
  padding: 16px 24px;
  background-color: black;
  border-width: 0;
}
p{
  font-size: 15px;
  color: grey;
  letter-spacing: 1px;
  line-height: 2;
}
h1{
  font-size: 45px;
  font-weight: normal;
  line-height: 2;
  margin: 10px 0;
}
h2{
  font-size: 40px;
  font-weight: normal;
  margin: 10px 0;
}
h3{
  font-size: 35px;
  font-weight: normal;
  margin: 10px 0;
}
h4{
  font-size: 20px;
  font-weight: normal;
  margin: 10px 0;
}
.navbar{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  height: 50px;
  padding: 30px 0 15px;
}

#main-page-link{
  float: left;
  color: black;
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
}

.middle-links{
  display: inline-block;
  margin-top: 5px;
}
 .nav-links{
   margin-left: 20px;
   color: grey;
   font-size: 15px;
 }

 #contact-btn{
   float: right;
   background-color: black;
   padding: 8px 16px;
 }
 #contact-link{
   font-size: 15px;
   color: white;
 }
 .c-1{
   width: 90%;
   margin: 0 5%;
   height: 500px;
   position: relative;
   background-color: black;
   text-align: center;
 }
 .c-1 h1{
   margin: 0;
   font-size: 80px;
   font-weight: normal;
   color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
 }
.c2{
  margin:100px 10%;
  display: inline-block;
}

.c2-1{
  display: inline-block;
  float: left;
  width: 55%;
  border: 1px solid grey;
  padding: 0 40px;
}
label{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
input,textarea{
  margin: 10px 0;
  width: 80%;
  padding: 10px 20px;
  color: #e4e4e4;
  border: 1px solid #e4e4e4;
  font-family: sans-serif;
  font-size: 15px;
}
textarea{
  height: 200px;
  font-size: 15px;
}
.form{
  margin: 0;
}
input:focus{
  border: 0.5px solid black;
  border-radius: 0;
}
input[type="submit"]{
  background-color: black;
  color: white;
  width: 86%;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.c2-2{
  display: inline-block;
  width: 30%;
  margin-left: 100px;
}
.c2-2 p{
  margin: 0 0 20px;
}
.contact-link{
  text-decoration: underline;
  color: grey;
  display: inline-block;
  margin-bottom: 10px;
}
.c3{
  margin: 0 10%;
}

.c3-head{
  text-align: center;
}
.c3-body{
  margin-top:70px;
}
.member{
  display: inline-block;
  width: 25%;
  height: 300px;
}
.m-img{
  height: 45%;
  background-color: #f4f4f4;
}
.m-info{
  text-align: center;
}
.divider{
  height: 1px;
  background-color: #EEE;
}
.m-contact{
  text-align: center;
}





 .c-6{
   clear: both;
   width: 90%;
   margin: 100px auto 0;
   position: relative;
   height: 400px;
   background-color: #EEE;
 }
 .c6-tc-1{
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
 }
 .footer{
   text-align: center;
   color: #C8C6C6;
   margin:50px 0;
   font-weight: 600;
 }
